@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #323232;
    color: #E1E1E3;
}


section {
    font-size: 20px;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-gap: 20px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;

    height: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    color: #323232;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* .card:not(:hover) {
    filter: blur(1.5px);
} */

.card h3 {
    font-size: 21px;
}

.card p {
    display: block;
    text-indent: 0;
    font-size: 18px;
}

.brief {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card .brief {
    display: block;
}

.card .detail {
    display: none;
    
}

.card.active .brief {
    display: none;
}

.card.active .detail {
    display: block;
}
.brief {
    height: 100%;
}


.brief .title{
    height:30%;
}

.brief .organization{
    min-height: 34%;
}

.brief .tips{
    font-size: 15px;
    text-align: end;
}

.detail p{
    margin-top: 0;
}

.detail ul{
    margin-left: 10%;
    margin-top: -10px;
}

.detail ul li{
    font-size: 15px;
}

.detail ul li a{
    color: #323232;
}





















footer {
    background-color: #323232;
    color: #fff;
    padding: 20px;
    text-align: center;
}