@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #323232;
    color: #E1E1E3;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;

    background-color: #323232;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 999;
}

.logo {
    font-size: 40px;
    margin-left: 40px;
}

.nav ul {
    overflow: hidden;
}

.menu {
    width: 40px;
    position: absolute;
    right: 40px;
}

@media screen and (max-width: 700px) {
    .nav ul {
        display: none;
    }

    .menu {
        display: flex;
        cursor: pointer;
    }

    .home .img-container {
        width: 100vh;
    }

    .txt-container h2 {
        display: none;
        width: 0;
    }
}

@media screen and (min-width: 701px) {
    .nav ul {
        display: flex;
    }

    .menu {
        display: none;
    }
}

.nav li {
    display: inline-block;
    margin-right: 40px;
}

.nav a {
    font-size: 20px;
    color: #E1E1E3;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: auto;
}

P {
    margin-top: 2vh;
    font-size: 20px;
    margin-bottom: 2vh;
    text-indent: 2em;
}

a {
    color: aquamarine;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    font-size: 20px;
}

.home {
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.img-container {
    width: 50%;
    background-color: #323232;
}

.userPhoto {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 3vw;
    font-style: italic;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 20px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    color: #323232;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:not(:hover) {
    filter: blur(1.5px);
}

.card h3{
    font-size: 21px;
}

.card p {
    display: block;
    text-indent: 0;
    font-size: 18px;
}

.brief{
    display: flex; 
    flex-direction: column; 
    align-items: start;
    justify-content: center;
}

.card .detail {
    display: none;
}

.card.active .brief {
    display: none;
}

.card.active .detail {
    display: block;
}

footer {
    background-color: #323232;
    color: #fff;
    padding: 20px;
    text-align: center;
}