@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #323232;
    color: #E1E1E3;
}

header {
    position: fixed;
    width: 100%;
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

.logo {
    font-size: 40px;
    margin-left: 40px;
}

.nav ul {
    overflow: hidden;
}

.menu {
    width: 40px;
    position: absolute;
    right: 40px;
}

@media screen and (max-width: 700px) {
    .nav ul {
        display: none;
    }

    .menu {
        display: flex;
        cursor: pointer;
    }

    .welcome{
        display: none;
    }
}

@media screen and (min-width: 701px) {
    .nav ul {
        display: flex;
    }

    .menu {
        display: none;
    }
}

.nav li {
    display: inline-block;
    margin-right: 40px;
}

.nav a {
    font-size: 20px;
    color: #E1E1E3;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 0 auto;
}

P{
    margin-top: 2vh;
    font-size: 20px;
    margin-bottom: 2vh;
    text-indent: 2em;
}

p a{
    color: aquamarine;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.home {
    height: 700px;
    background-image: url("/imgs/background.jpg");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: -150px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.welcome{
    margin-right: 2vw;
    font-size: 3vw
}



















footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    text-align: center;
}